*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
}

nav {
  display: flex;
  justify-content: space-around;
}

nav div {
  width: 8%;
  height: 10%;
}