*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-bottom: 40px;
}
/* navigation */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 13vh;
}

.logo {
  width: 170px;
  height: 50px;
}

.item {
  font-size: 20px;
  padding: 0 10px;
}

.item-more {
  width: 110px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
}

.search-bar {
  width: 300px;
  height: 50px;
}

/* first row */
.main-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 220px;
}

h1 {
  font-size: 40px;
  text-align: center;
  width: 450px;
}

/* grid content*/
.main-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.grid-item {
  display: flex;
  flex-direction: column;
  height: 65vh;
  padding: 10%;
  justify-content: space-between;
}

.author-div {
  width: 30%;
  height: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: flex-start;
}

.profile {
  width: 50px;
  height: 50px;
  transform: rotate(45grad);
}

.name {
  font-size: 20px;
}

.bottom-profile {
  width: 40%;
  height: 10%;
}

h2 {
  font-size: 30px;
}

.article-div {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  height: 100%;
  margin-top: 20px;
  padding: 0 30px;
}

.article-item {
  padding: 35px 10px;
  width: 28vw;
}

.article-item h3 {
  font-size: 24px;
}

.article-item span {
  padding: 30px 0;

}

.article-item p {
  font-size: 20px;
}

/* advertising */

.ads-div {
  display: flex;
  justify-content: space-around;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  height: 100vh;
  padding: 50px 80px;
  border: 1px solid #111;
  border-radius: 3%;
}

.img,
.h3,
.feature span {
  margin-bottom: 20px;
}

.img {
  width: 200px;
  height: 200px;
  border: 1px solid #111;
  border-radius: 50%;
}

h3 {
  font-size: 40px;
}

.feature span {
  font-size: 18px;
  line-height: 30px;
  text-align: center;
}

.feature-button {
  padding: 20px 50px;
  border: 1px solid black;
  border-radius: 20px;
}

.ads {
  width: 30%;
  height: 15em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  border: 1px solid #111;
  border-radius: 3%;
}

.ads-title {
  width: 50%;
  height: 25%;
  border: 1px solid #111;
}

.ads-content {
  width: 70%;
  height: 40%;
  border: 1px solid #111;
}

.ads-button {
  width: 25%;
  height: 15%;
  border: 1px solid #111;
}

.article-feature-div {
  display: flex;
  justify-content: space-around;
}